/* contact page css */
:root {
  /* shades of primary color */
  --primary-color-1: hsl(0, 37%, 76%);
  --primary-color-2: hsl(0, 37%, 60%);
  --primary-color-3: hsl(0, 37%, 40%);

  /* shades of light primary color */
  --primary-color-4: hsl(0, 37%, 95%);

  /* shades of gray color */
  --gray-color-1: hsl(0, 0%, 85%);
  --gray-color-2: hsl(0, 0%, 70%);
  --gray-color-3: hsl(0, 0%, 40%);

  --ff-primary: "Rubik", sans-serif;
  --background-color: #f9f7f7;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}

.main-section {
  min-height: 500px;
  background-color: var(--primary-color-4);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.form {
  padding: 2rem 1rem;
  width: 400px;
  max-width: 100%;
  background-color: var(--background-color);
  border-radius: 8px;
  margin: 1.5rem 0;
  box-shadow: var(--dark-shadow);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
}

.input {
  padding: 5px;
  font-size: 18px;
  border-width: 1px;
  background-color: #ffffff;
  border-color: var(--primary-color-2);
  border-style: solid;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  max-width: 100%;
}

.label {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--gray-color-3);
}
